# 텐서플로우 2.0에서 1.x.x버전을 사용하기 위한 코드

In [ ]:
import tensorflow.compat.v1 as tf
tf.disable_v2_behavior()

In [13]:
import numpy as np
import pandas as pd

WARNING:tensorflow:From C:\Anaconda3\lib\site-packages\tensorflow_core\python\compat\v2_compat.py:65: disable_resource_variables (from tensorflow.python.ops.variable_scope) is deprecated and will be removed in a future version.
Instructions for updating:
non-resource variables are not supported in the long term

In [14]:
print(tf.__version__)

2.0.0

# 텐서플로우 모델 초기기화

In [15]:
model = tf.global_variables_initializer()

In [86]:
data = pd.read_csv("data.csv", encoding="euc-KR")

In [87]:
print(data.head())

           날짜  평균 풍속  최저 기온  최고 기온  강수량  평균 가격
0  2010-01-01    1.2  -11.0    0.9  0.0   2123
1  2010-01-02    0.9   -5.5    5.5  0.8   2123
2  2010-01-03    1.8   -6.9    1.4  0.0   2123
3  2010-01-04    2.3   -5.1    2.2  5.9   2020
4  2010-01-05    2.2   -8.7   -1.8  0.7   2060

In [88]:
print(type(data))

<class 'pandas.core.frame.DataFrame'>

In [89]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2922 entries, 0 to 2921
Data columns (total 6 columns):
날짜       2922 non-null object
평균 풍속    2922 non-null float64
최저 기온    2922 non-null float64
최고 기온    2922 non-null float64
강수량      2922 non-null float64
평균 가격    2922 non-null int64
dtypes: float64(4), int64(1), object(1)
memory usage: 137.1+ KB

In [90]:
data.describe()

             평균 풍속        최저 기온        최고 기온          강수량         평균 가격
count  2922.000000  2922.000000  2922.000000  2922.000000   2922.000000
mean      1.501540     8.288227    18.378645     3.445140   3276.506502
std       0.765881    10.232362     9.803192     8.563899   1369.364603
min       0.000000   -14.800000    -7.400000     0.000000   1093.000000
25%       1.000000    -0.700000     9.700000     0.000000   2292.000000
50%       1.300000     8.700000    19.950000     0.100000   3026.000000
75%       1.900000    17.575000    27.100000     2.175000   3974.000000
max       6.200000    25.900000    35.600000    95.500000  12410.000000

In [91]:
data.head()

           날짜  평균 풍속  최저 기온  최고 기온  강수량  평균 가격
0  2010-01-01    1.2  -11.0    0.9  0.0   2123
1  2010-01-02    0.9   -5.5    5.5  0.8   2123
2  2010-01-03    1.8   -6.9    1.4  0.0   2123
3  2010-01-04    2.3   -5.1    2.2  5.9   2020
4  2010-01-05    2.2   -8.7   -1.8  0.7   2060

## 데이터프레임에서 특수문자 제거 후 자료형 변경
- 2020-03-01에서 -를 제거하고 int형으로 변환

In [92]:
data['날짜']=data['날짜'].str.replace('-','').astype(int)

In [93]:
data.head()

         날짜  평균 풍속  최저 기온  최고 기온  강수량  평균 가격
0  20100101    1.2  -11.0    0.9  0.0   2123
1  20100102    0.9   -5.5    5.5  0.8   2123
2  20100103    1.8   -6.9    1.4  0.0   2123
3  20100104    2.3   -5.1    2.2  5.9   2020
4  20100105    2.2   -8.7   -1.8  0.7   2060

In [94]:
xy = np.array(data, dtype=np.float32)

In [96]:
xy

array([[ 2.0100100e+07,  1.2000000e+00, -1.1000000e+01,  8.9999998e-01,
         0.0000000e+00,  2.1230000e+03],
       [ 2.0100102e+07,  8.9999998e-01, -5.5000000e+00,  5.5000000e+00,
         8.0000001e-01,  2.1230000e+03],
       [ 2.0100104e+07,  1.8000000e+00, -6.9000001e+00,  1.4000000e+00,
         0.0000000e+00,  2.1230000e+03],
       ...,
       [ 2.0171228e+07,  8.0000001e-01, -2.0999999e+00,  8.0000000e+00,
         0.0000000e+00,  2.9010000e+03],
       [ 2.0171230e+07,  2.5999999e+00, -1.6000000e+00,  7.0999999e+00,
         6.0000002e-01,  2.9010000e+03],
       [ 2.0171232e+07,  2.5000000e+00, -2.0000000e+00,  5.8000002e+00,
         4.0000001e-01,  2.9010000e+03]], dtype=float32)

In [97]:
type(xy)

numpy.ndarray

In [98]:
xy[0]

array([ 2.01001e+07,  1.20000e+00, -1.10000e+01,  9.00000e-01,
        0.00000e+00,  2.12300e+03], dtype=float32)