# 텐서플로우 2.0에서 1.x.x버전을 사용하기 위한 코드

In [ ]:
import tensorflow.compat.v1 as tf
tf.disable_v2_behavior()

In [13]:
import numpy as np
import pandas as pd

WARNING:tensorflow:From C:\Anaconda3\lib\site-packages\tensorflow_core\python\compat\v2_compat.py:65: disable_resource_variables (from tensorflow.python.ops.variable_scope) is deprecated and will be removed in a future version.
Instructions for updating:
non-resource variables are not supported in the long term

In [14]:
print(tf.__version__)

2.0.0

# 텐서플로우 모델 초기기화

In [15]:
model = tf.global_variables_initializer()

In [58]:
data = pd.read_csv("data.csv", encoding="euc-KR")

In [59]:
print(data.head())

           날짜  평균 풍속  최저 기온  최고 기온  강수량  평균 가격
0  2010-01-01    1.2  -11.0    0.9  0.0   2123
1  2010-01-02    0.9   -5.5    5.5  0.8   2123
2  2010-01-03    1.8   -6.9    1.4  0.0   2123
3  2010-01-04    2.3   -5.1    2.2  5.9   2020
4  2010-01-05    2.2   -8.7   -1.8  0.7   2060

In [19]:
print(type(data))

<class 'pandas.core.frame.DataFrame'>

In [21]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2922 entries, 0 to 2921
Data columns (total 6 columns):
날짜       2922 non-null object
평균 풍속    2922 non-null float64
최저 기온    2922 non-null float64
최고 기온    2922 non-null float64
강수량      2922 non-null float64
평균 가격    2922 non-null int64
dtypes: float64(4), int64(1), object(1)
memory usage: 137.1+ KB

In [24]:
data.describe()

             평균 풍속        최저 기온        최고 기온          강수량         평균 가격
count  2922.000000  2922.000000  2922.000000  2922.000000   2922.000000
mean      1.501540     8.288227    18.378645     3.445140   3276.506502
std       0.765881    10.232362     9.803192     8.563899   1369.364603
min       0.000000   -14.800000    -7.400000     0.000000   1093.000000
25%       1.000000    -0.700000     9.700000     0.000000   2292.000000
50%       1.300000     8.700000    19.950000     0.100000   3026.000000
75%       1.900000    17.575000    27.100000     2.175000   3974.000000
max       6.200000    25.900000    35.600000    95.500000  12410.000000

In [61]:
data["날짜"].replace("-", "")

0       2010-01-01
1       2010-01-02
2       2010-01-03
3       2010-01-04
4       2010-01-05
           ...
2917    2017-12-27
2918    2017-12-28
2919    2017-12-29
2920    2017-12-30
2921    2017-12-31
Name: 날짜, Length: 2922, dtype: object

In [53]:
data.head()

,날짜,평균 풍속,최저 기온,최고 기온,강수량,평균 가격
0,0 2010-01-01\n1 2010-01-02\n2 ...,1.2,-11.0,0.9,0.0,2123
1,0 2010-01-01\n1 2010-01-02\n2 ...,0.9,-5.5,5.5,0.8,2123
2,0 2010-01-01\n1 2010-01-02\n2 ...,1.8,-6.9,1.4,0.0,2123
3,0 2010-01-01\n1 2010-01-02\n2 ...,2.3,-5.1,2.2,5.9,2020
4,0 2010-01-01\n1 2010-01-02\n2 ...,2.2,-8.7,-1.8,0.7,2060

In [37]:
xy = np.array(data, dtype=np.float32)

ValueError: could not convert string to float: '2010-01-01'

In [39]:
"2010-01-01".replace("-", "")

'20100101'